@font-face {
  font-family: "CircularBold";
  src: url("./Fonts/Circular_Air-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "CircularBook";
  src: url("./Fonts/Circular_Air-Book.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "CircularLight";
  src: url("./Fonts/Circular_Air-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
