.DayPicker__horizontal {
  box-shadow: none !important;
  margin: 0;
}

.DayPickerKeyboardShortcuts_show__bottomRight,
.DayPickerKeyboardShortcuts_show__topRight {
  display: none;
}

.CalendarMonth_table {
  margin-top: 10px;
}
.CalendarDay_container {
  border: 1px solid #d5d5d5 !important;
  color: #383838;
  font-size: 14px;
  line-height: 16px;
}
.DayPicker_weekHeader_li {
  font-size: 14px;
  line-height: 16px;
  color: #636363;
}
.CalendarDay__blocked_calendar .CalendarDay_button {
  color: #cbcbcb;
  background-color: #fff;
}
